
<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>Cadastro socioecon&ocirc;mico - Cachoeira Paulista/SP</title>

    <link rel="canonical" href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/">

    

    <!-- Bootstrap core CSS -->
<link href="https://getbootstrap.com/docs/5.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">

    <!-- Favicons -->
<link rel="apple-touch-icon" href="{{ url_for('static', filename='images/brasao-cachoeira-paulista.png') }}" sizes="180x180">
<link rel="icon" href="{{ url_for('static', filename='images/brasao-cachoeira-paulista.png') }}" sizes="32x32" type="image/png">
<link rel="icon" href="{{ url_for('static', filename='images/brasao-cachoeira-paulista.png') }}" sizes="16x16" type="image/png">
<link rel="manifest" href="https://getbootstrap.com/docs/5.1/assets/img/favicons/manifest.json">
<link rel="mask-icon" href="https://getbootstrap.com/docs/5.1/assets/img/favicons/safari-pinned-tab.svg" color="#7952b3">
<link rel="icon" href="{{ url_for('static', filename='images/brasao-cachoeira-paulista.png') }}">
<meta name="theme-color" content="#7952b3">


    <style>
      .bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      .popup{
        background-color: #ffffff;
        width: 80%;
        padding: 30px 40px;
        position: absolute;
        transform: translate(-50%,-50%);
        left: 50%;
        top: 50%;
        border-radius: 8px;
        display: none;
        font-family: "Poppins",sans-serif;
        text-align: left;
        border-style: solid;
      }

      .popup button{
        display: block;
        width: 150px;
        position: relative;
        margin: 10px auto;
        text-align: center;
        background-color: #0f72e5;
        border-radius: 20px;
        color: #ffffff;
        text-decoration: none;
        padding: 8px 0;
      }      

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
    </style>

    
    <!-- Custom styles for this template -->
    <link href="{{ url_for('static', filename='stylesheets/tui-pagination.css') }}" rel="stylesheet">
    <link href="https://getbootstrap.com/docs/5.1/examples/navbar-fixed/navbar-top-fixed.css" rel="stylesheet">
  </head>
  <body>
    
<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Cadastro socioecon&ocirc;mico</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarCollapse">
      <ul class="navbar-nav me-auto mb-2 mb-md-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="#">Início</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('cadastro_cidadao') }}">Cadastro</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{{ url_for('registro') }}">Registro</a>
        </li>
        <li class="nav-item">
          <a href="{{ url_for('logout') }}" class="nav-link">Sair</a>
        </li>
      </ul>
      <!-- <form class="d-flex">
        <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
      </form> !-->
    </div>
  </div>
</nav>

<main class="container">
  <div class="bg-light p-5 rounded">
    <h1>Olá, {{ nome }}</h1>
    <p class="lead">Aperta o botão abaixo para cadastrar um novo cidadão, clique na linha da tabela para visualizar informações a respeito do cidadão selecionado.</p>
    <a class="btn btn-lg btn-primary" href="{{ url_for('cadastro_cidadao') }}" role="button">Cadastrar nova(o) cidad&atilde;(o) &raquo;</a>
    
    <!-- Aqui vai ficar o popup -->
    <div class="popup" id="p_detalhes">
      <!-- <button id="close">&times;</button> -->
      <h2>Dados Pessoais:</h2>
      <div class="row">
        <div class="col-sm-3"><span class="fw-bold">Nome: </span><span id="dt_nome">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">RG: </span><span id="dt_rg">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">CPF: </span><span id="dt_cpf">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Nasc.: </span><span id="dt_nasc">-</span></div>

        <div class="col-sm-6"><span class="fw-bold">Endereço: </span><span id="dt_end">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">NIS: </span><span id="dt_nis">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">SUS: </span><span id="dt_sus">-</span></div>

        <div class="col-sm-3"><span class="fw-bold">Telefone: </span><span id="dt_tel">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Celular: </span><span id="dt_cel">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">E-mail: </span><span id="dt_email">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Nº Filhos: </span><span id="dt_filhos">-</span></div>

        <div class="col-sm-3"><span class="fw-bold">Religião: </span><span id="dt_relg">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Estado Civil: </span><span id="dt_estado_civil">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Escolaridade: </span><span id="dt_escol">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Raça: </span><span id="dt_raca">-</span></div>

        <div class="col-sm-3"><span class="fw-bold">Chefe família: </span><span id="dt_chefefamilia">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Profissão: </span><span id="dt_profissao">-</span></div>
        <div class="col-sm-3"><span class="fw-bold">Renda familiar (SM): </span><span id="dt_renda">-</span></div>

      </div>
      <br>
      <div class="row" id="listasDetalhes"></div>
      <br>
      <div class="row" id="composicaoFamiliar"></div>
      <button id="close">Fechar</button>
    </div>

<div class="popup" id="p_historico" style="width: 30%">
  <h2>Histórico de Retiradas</h2>
  <div class="row">
    <table class="table table-hover" id="tb_historico">
      <thead>
        <tr>
          <th>Data:</th>
        </tr>        
      </thead>
      <tbody></tbody>
    </table>
  </div>
  <button id="close_historico">Fechar</button>
</div>

    <!-- Ai, ai... hora de construir tabela !-->
    {% if not not listaPessoas %}
    <form method="post" action="{{ url_for('home') }}" id="consultar">
      <input type="hidden" value="" id="selecao" name="selecao">
    </form>

    <form method="post" action="{{ url_for('home') }}" id="atualizar">
      <input type="hidden" value="{{id_selecao}}" id="selecao_update" name="selecao_update">
      <input type="hidden" value="{{page}}" id="page_select" name="page_select">
    <div class="row g-3">
      <div class="col-sm-4">
        <br>
        <h3>Lista de Cidadãos Cadastrados</h3>
      </div>
        <div class="col-sm-2 align-self-end">
          <input type="date" class="form-control" id="data_nova" name="data_nova" placeholder="09/03/1880" value="{{hoje}}" required>
          <div class="invalid-feedback">
            A data é obrigatória!
          </div>              
        </div>
        <div class="col-sm-2 align-self-end">
          <label for="botao" class="form-label"></label>
          <input type="submit" class="btn btn-md btn-primary" id="atualizar_data" name="atualizar_data" value="Atualizar Data">
        </div>
        <div class="col-sm-4 align-self-end">
          <h3 class="text-primary">{{msg}}</h3>
        </div>
      <div class="col-sm-12">
        <span><div id="pagination" class="tui-pagination" style="display: block;"></div></span><span><p class="text-secondary" style="text-align: center;"><span id="itens_por_pagina">Exibindo {{listaPessoas|length}} itens por página. </span><strong>(Total de {{total}} registros)</strong></p></span>
      </div>
      <div class="col-sm-12">
        <table class="table table-hover" id="tabela-cidadaos">
          <thead class="table-dark">
            <tr>
              <th>Nome</th>
              <th>RG</th>
              <th>CPF</th>
              <th>Última retirada cesta básica</th>
            </tr>
          </thead>
          <tbody>
            {% for pessoa in listaPessoas %}
            {% if id_selecao|string == pessoa['id']|string %}
              <tr class='table-warning'>
            {% else %}
              <tr>
            {% endif %}
                <td data-id="{{pessoa['id']}}">{{pessoa['nome']}} - <a href="javascript:exibirDetalhes({{pessoa['id']}})">Ver Detalhes</a></td>
                <td>{{pessoa['rg']}}</td>
                <td>{{pessoa['cpf']}}</td>
                {% if pessoa['ultima_retirada'] != None %}
                <td>{{pessoa['ultima_retirada']}} - <a href="javascript:exibirHistorico({{pessoa['id']}}, '{{pessoa['nome']}}')">Ver Histórico</a></td>
                {% else %}
                <td>-</td>
                {% endif %}
              </tr>

            {% endfor %}
          </tbody>
        </table>
      </div>
    </div>
  </form>
    {% endif %}
  </div>



</main>


    <script src="https://getbootstrap.com/docs/5.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ka7Sk0Gln4gmtz2MlQnikT1wXgYsOg+OMhuP+IlRH9sENBO0LRn5q+8nbTov4+1p" crossorigin="anonymous"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="{{ url_for('static', filename='js/tui-pagination.js') }}"></script>

    <script type="text/javascript">
      var pagination = new tui.Pagination('pagination', {
          totalItems: {{total}},
          itemsPerPage: 20,
          visiblePages: 10,
          page: {{page}}
      });

      pagination.on('beforeMove', function(eventData) {
        var page = eventData.page;
        $("#page_select").val(page);
        $.ajax({
          type: "POST",
          url: "{{ url_for('carregarNovaPagina') }}",
          contentType: "application/json",
          data: JSON.stringify(page),
          dataType: "json",
          success: function(response) {
            // recebido a lista com sucesso, é necessário limpar a tabela e reinserir toda a lista
            $('#tabela-cidadaos tbody').empty();
            $('#itens_por_pagina').html('Exibindo ' + response.length + ' itens por página. ');
            for (var i = 0; i < response.length; i++) {
              var ultima_retirada = '-';

              if (response[i]['ultima_retirada'] != null) {
                ultima_retirada = response[i]['ultima_retirada'] + ' - <a href="javascript:exibirHistorico(' + response[i]['id'] + ', ' + "'" + response[i]['nome'] + "'" + ')">Ver Histórico</a>'
              } 

              $('#tabela-cidadaos tbody').append('<tr>\
                                                    <td data-id="' + response[i]['id'] + '">' + response[i]['nome'] + ' - <a href="javascript:exibirDetalhes(' + response[i]['id'] + ')">Ver Detalhes</a></td>\
                                                    <td>' + response[i]['rg'] + '</td>\
                                                    <td>' + response[i]['cpf'] + '</td>\
                                                    <td>' + ultima_retirada + '</td>\
                                                  </tr>')
              //console.log(response[i])
            }
          },
          error: function(err) {
              console.log(err);
          }
        }); 
      });

      $('#tabela-cidadaos tbody').on("click", "tr", function() {
          $(this).addClass('table-warning').siblings().removeClass('table-warning');
          $("#selecao").val($(this).find("td:first").attr('data-id'));
          //console.log($("#selecao").val())
          $("#selecao_update").val($(this).find("td:first").attr('data-id'));
          //$('#consultar').submit()
      });

      $('#close').click(function() {
        $("#p_detalhes").css('display', 'none');
        $("#pagination").css('display', 'block');
      });

      $('#close_historico').click(function() {
        $("#p_historico").css('display', 'none');
        $("#pagination").css('display', 'block');
      });      

      function exibirHistorico(id, nome) {
          $.ajax({
            type: "POST",
            url: "{{ url_for('exibirHistorico') }}",
            contentType: "application/json",
            data: JSON.stringify(id),
            dataType: "json",
            success: function(response) {
              $('#p_historico tbody').empty();
              $('#p_historico thead tr th').html(nome);
              for (var i = 0; i < response['data'].length; i++) {
                $('#p_historico tbody').append('<tr><td>' + response['data'][i]['date'] + '</td></tr>');
                //console.log(response['data'][i])
                $('html,body').animate({
                  scrollTop: $("#p_historico").offset().top - $(window).height()/2
                }, 100);

                $("#pagination").css('display', 'none');
                $("#p_historico").css('display', 'block');                  
              }
              
              //console.log(response['data']);
            },
            error: function(err) {
                console.log(err);
            }            
          });
      }

      function exibirDetalhes(id) {
        $.ajax({
          type: "POST",
          url: "{{ url_for('exibirDetalhes') }}",
          contentType: "application/json",
          data: JSON.stringify(id),
          dataType: "json",
          success: function(response) {
            $('#dt_nome').html(response['dadosPessoais']['nome']);
            $('#dt_rg').html(response['dadosPessoais']['rg']);
            $('#dt_cpf').html(response['dadosPessoais']['cpf']);
            $('#dt_nasc').html(response['dadosPessoais']['nascimento'] + ' - ' + response['dadosPessoais']['cidade'] + '/' + response['dadosPessoais']['estado']);
            $('#dt_end').html(response['dadosPessoais']['endereco']);
            $('#dt_tel').html(response['dadosPessoais']['telefone']);
            $('#dt_cel').html(response['dadosPessoais']['celular']);
            $('#dt_email').html(response['dadosPessoais']['email']);
            $('#dt_filhos').html(response['dadosPessoais']['num_filhos']);
            $('#dt_nis').html(response['dadosPessoais']['nis']);
            $('#dt_sus').html(response['dadosPessoais']['sus']);
            $('#dt_raca').html(response['dadosPessoais']['raca']);
            $('#dt_relg').html(response['dadosPessoais']['religiao']);
            $('#dt_estado_civil').html(response['dadosPessoais']['estado_civil']);
            $('#dt_escol').html(response['dadosPessoais']['escolaridade']);
            $('#dt_chefefamilia').html(String(response['dadosPessoais']['chefe_familia']).replace('true', 'Sim').replace('false', 'Não'));
            $('#dt_profissao').html(response['dadosPessoais']['profissao']);
            $('#dt_renda').html(response['dadosPessoais']['renda']);
            $('#listasDetalhes').empty();
            
            if (response['beneficios'].length > 0) {
              $('#listasDetalhes').append('<div class="col-sm-3" id="listaDetalhesBeneficios"></div>');
              $('#listaDetalhesBeneficios').append('<h3>Benefícios:</h3>');
              $('#listaDetalhesBeneficios').append('<ul></ul>');
              for (var i = 0; i < response['beneficios'].length; i++) {
                $('#listaDetalhesBeneficios ul').append('<li>' + response['beneficios'][i]['descricao'] + '</li>');
              }
            }

            if (response['cultura'].length > 0) {
              $('#listasDetalhes').append('<div class="col-sm-3" id="listaDetalhesCultura"></div>');
              $('#listaDetalhesCultura').append('<h3>Cultura:</h3>');
              $('#listaDetalhesCultura').append('<ul></ul>');
              for (var i = 0; i < response['cultura'].length; i++) {
                $('#listaDetalhesCultura ul').append('<li>' + response['cultura'][i]['descricao'] + '</li>');
              }
            }  
            
            if (response['servicos_saude'].length > 0) {
              $('#listasDetalhes').append('<div class="col-sm-3" id="listaDetalhesSaude"></div>');
              $('#listaDetalhesSaude').append('<h3>Serviços Saúde:</h3>');
              $('#listaDetalhesSaude').append('<ul></ul>');
              for (var i = 0; i < response['servicos_saude'].length; i++) {
                $('#listaDetalhesSaude ul').append('<li>' + response['servicos_saude'][i]['descricao'] + '</li>');
              }
            }   
            
            if (response['transporte'].length > 0) {
              $('#listasDetalhes').append('<div class="col-sm-3" id="listaDetalhesTransporte"></div>');
              $('#listaDetalhesTransporte').append('<h3>Transporte:</h3>');
              $('#listaDetalhesTransporte').append('<ul></ul>');
              for (var i = 0; i < response['transporte'].length; i++) {
                $('#listaDetalhesTransporte ul').append('<li>' + response['transporte'][i]['descricao'] + '</li>');
              }
            }            
            
            $('#composicaoFamiliar').empty();
            if (response['composicao_familiar'].length > 0) {
              $('#composicaoFamiliar').append('<div class="col-sm-12"></div>');
              $('#composicaoFamiliar div.col-sm-12').append('<h3>Composição Familiar:</h3>')
              $('#composicaoFamiliar div.col-sm-12').append('<table class="table">\
                                                             <thead class="table-dark">\
                                                             <tr style="vertical-align:middle">\
                                                             <th>Nome</th><th>CPF</th>\
                                                             <th>Estado Civil</th>\
                                                             <th>Vínculo</th>\
                                                             <th>Nascimento</th>\
                                                             <th>Escolaridade</th>\
                                                             <th>Profissão</th>\
                                                             <th>Formal</th>\
                                                             <th>Saúde</th></tr>\
                                                             </thead><tbody></tbody></table>');

              for (var i = 0; i < response['composicao_familiar'].length; i++) {
                $('#composicaoFamiliar div.col-sm-12 table tbody').append('<tr>\
                                                                            <td>' + response['composicao_familiar'][i]['nome'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['cpf'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['estado_civil'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['vinculo'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['nascimento'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['escolaridade'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['profissao'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['formal'] + '</td>\
                                                                            <td>' + response['composicao_familiar'][i]['situacao_saude'] + '</td>\
                                                                           </tr>')
                console.log(response['composicao_familiar'][i]);
              }

            }

            $('html,body').animate({
              scrollTop: $("#p_detalhes").offset().top - $(window).height()/2
            }, 100);

            $("#pagination").css('display', 'none');
            $("#p_detalhes").css('display', 'block');    
            //console.log(response);
          },
          error: function(err) {
              console.log(err);
          }
      });
      }
      </script>
      
  </body>
</html>
